body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    border: 1px solid #ffffff;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
  }
  .container {
    padding: 30px 0;
  }
  
  .table {
    margin: 20px auto;
    width: 957px;
    &:nth-child(4) {
      width: 240px;
      th {
        &:nth-child(1) {
          padding-left: 20px;
        }
      }
      td {
        &:nth-child(1) {
          padding-left: 20px;
        }
      }
    }
    thead {
      tr {
        th {
          font-size: 1.3rem;
          line-height: 1.2;
          &.sector {
            width: 70px !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &.ploss {
            min-width: 80px;
          }
        }
      }
    }
    tbody {
      tr {
        &.active {
          td {
            font-weight: 700;
          }
        }
        td {
          vertical-align: middle !important;
          line-height: 1.2;
          font-weight: 300;
          &:nth-first-child {
            width: 249px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &:nth-last-child(1) {
            width: 140px;
          }
        }
      }
    }
  }