body {
    background: url('/MainFiles/signUp/background-for-sign-up.png') repeat;
    background-size: cover;
    background-attachment: fixed;
    background: linear-gradient(45deg, #e9f6ff, #e9f6ff);
    background-position: center center;
}

.costumF {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
