xample
* {box-sizing:border-box}


.slideshow-container {
  max-width: 1250px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 8s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}